*{margin: 0; padding: 0;}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

.toggleNav {
    display: none;
}

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 15% 0 15%;
}

nav .logo {
    -webkit-box-flex: 4;
    -ms-flex: 4;
    flex: 4;
    font-size: 1.7em;
    padding: 6px;
    font-style: italic;
}

nav .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 1 2 300px;
    text-align: center;
}

nav .menu ul {
    background: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

nav .menu ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 0 1 400px;
    list-style-type: none;
    text-align: center;
}

nav .menu ul li a {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    font-size: 1.0em;
    text-decoration: none;
    text-transform: uppercase;
}

nav .menu ul li a:hover {
    color: #e56420;
    text-decoration: underline;
    font-weight: 700;
}

nav .menu ul li a span {
    display: block;
    width: 100%;
}

.logo-color {
    display: inline-block;
    color: #e56420;
    font-style: normal;
    font-weight: 800;
}

.baner {
    background: url("../img/baner.jpg"); 
    background-size: cover;
    border-top: 4px #e56420 solid;
    min-height: 60vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.inner {
    background: rgba(0, 0, 0, 0.65); 
    border-radius: 155px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-line-pack: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    margin: auto;
    padding: 33px;
    text-align: center; 
}

.inner h1 {
    color: #fff;
    font-weight: 700;
    font-size: 3.0em;
}

.baner-inner-color {
    display: inline-block;
    color: #e56420;
    font-style: normal;
    font-weight: 800;
}

.baner-inner-text {
    padding: 5px 0 0 0;
    color: #fff;
    font-size: 1.2em;
}

.baner-inner-italic {
    display: inline-block;
    font-style: italic;
    font-weight: 400;
}

.mainHeader-h-text {
    font-size: 1.7em;
    font-weight: 700;
    padding: 1% 0 0 0;
    text-align: center;
}

.mainHeader-p-text {
    font-size: 1.15em;
    font-weight: 400;
    padding: 0px;
    text-align: center; 
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    padding: 0 0;
}

.text-content h2 {
    font-size: 1.15em;
    font-weight: 700;
}

.container .text-content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1 1 280px;
    padding: 1%;
    text-align: center;
}

.container .text-content p {
    font-size: 1.0em;
    margin-top: 1%;
}

.container .font-awesome {
    font-size: 50px;
    color: #e56420;
    padding: 10px;
}

.container-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1% 19% 1.3% 19%;
    width: 100%; 
}

.aboutContainer {
    background: rgba(245,245,245);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 25px 15% 25px 15%;
}

.aboutContainer-foto {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 6;
}

.aboutContainer-text  {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 4;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.aboutContainer-foto img {
    width: 100%;
}

.aboutContainer-text p {
    font-size: 1.7em;
    font-weight: 700;
    margin-bottom: 3%;
}

.aboutContainer-text ul {
    font-size: 1.2em;
    list-style: none;
}

.contactContainer {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0.5% 10% 0.5% 10%;
}

.contactContainer-contact {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.contactContainer-aboutUs {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.contactContainer-newsletter {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.contactContainer-contact ul {
    list-style: none;
}

.contactContainer-heading {
    font-size: 1.2em;
    margin-bottom: 2%;
}

.contactContainer-contact ul li {
    padding: 3px;
}

.contactContainer-newsletter input[type="text"] {
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    font-style: italic;
    margin-top: 2%;
    outline: none;
    padding: 3px;
    text-indent: 7px;
}

.contactContainer-newsletter button[type="submit"] {
    background: #e56420;
    border: 2px #e56420 solid;
    border-radius: 10px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    outline: none;
    padding: 3px 9px;
}

input::-webkit-input-placeholder {
    color: #000000;
}

input:-moz-placeholder {
    color: #000000;
}

input::-moz-placeholder {
    color: #000000;
}

input:-ms-input-placeholder {
    color: #000000;
}

footer {
    background: #e56420;
    color: white;
    font-size: 1.0em;
    padding: 11px;
    text-align: center;   
}

.baner-about {
    border-top: 4px #e56420 solid;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 1.4% 19% 0 19%;
    text-align: center;
}

.banner-about-heading {
    color: #e56420;
    font-size: 1.5em;
}   

    .baner-about-p {
    margin-bottom: 25px;
}

.home {
    color: white;
    background: #e56420;
}

.home span{
    color: white;
    font-weight: 700;
}

.contact-items {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.contact-items input[type="text"]{
    border-radius: 15px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    margin-bottom: 15px;
    outline: none;
    padding: 10px;
    width: 100%;
}

.contact-items textarea {
    border-radius: 15px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    margin-bottom: 15px;
    outline: none;
    padding: 10px;
    width: 100%;
}

.contact-items input[type="submit"] {
    display: block;
    background: #e56420;
    border: 1px solid #9b9a9a; 
    border-radius: 15px; 
    color: white;
    font-style: italic;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    font-weight: 700;
    margin: 0;
    margin-bottom: 50px;
    outline: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}

.contact-items h2 {
    color: #e56420;
    font-size: 1.5em;
    font-style: italic;
    padding: 7px;
    text-align: center;
}

input::-webkit-input-placeholder {
    color: #000000;
}

input:-moz-placeholder {
    color: #000000;
}

input::-moz-placeholder {
    color: #000000;
}

input:-ms-input-placeholder {
    color: #000000;
}

textarea::-webkit-input-placeholder {
    color: #000000;
}


@media all and (max-width: 1000px) {

    .baner-about {
        padding: 1.4% 5% 0 5%;
    }
    
    .contactContainer {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    
    .contactContainer-heading {
        font-size: 1.1em;
        margin-bottom: 0.5%;
        padding-bottom: 0px;
    }
    
    form {
        margin-bottom: 15px;
    }

}
    
@media all and (max-width: 930px) {
    
    .container .text-content {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 250px;
        flex: 1 1 250px;
    }    
    
}

@media all and (max-width: 830px) {
    
    .container .text-content {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 240px;
        flex: 0 1 240px;
    }    
    
}

@media all and (max-width: 799px) {
    
     nav {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin: 0;
        text-align: center;
    }
    
    nav .logo {
        border-bottom: 1px white solid;
        font-size: 2.0em;
        padding: 0 0 5px 0px;
        -webkit-box-flex: 0;
        -ms-flex: 0 1 10px;
    }
    
    .menu ul {
        background: black;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-flex: 0;
        -ms-flex: 0 1 10px;
        max-height: 160px;
        width: 100%;
    }
    
    .menu ul li {
        border-top: 0.15px solid #e56420;
        max-height: 200px;
        width: 100%;
    }
    
    .menu ul li a {
        display: block;
        padding: 1px;
    }
    
    .menu ul li a span {
        font-size: 1em;
        padding: 5px;
    }
    
    nav .menu ul li a:hover {
        background: rgba(229, 100, 32, 0.18);
    }
    
    nav .menu {
        -webkit-box-flex: 1;
        -ms-flex: 1 2 auto;
        flex: 1 2 auto;
    }
        
    .toggleNav {
        background: #e56420;
        color: white;
        display: block;
        padding: 12px;
        text-decoration: none;
        border-bottom: 4px white solid;
    }
    
    nav .menu ul {
        display: none;
    }
    
    nav .menu ul.open {
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
    }
    
    .container .text-content {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 160px;
        flex: 1 1 160px;
    }
    
    .inner h1 {
        font-size: 2.3em;
    }
    
    .baner-inner-text {
        font-size: 1.0em;
    }

    .aboutContainer-text p {
        font-size: 1.3em;
    }

    .aboutContainer-text ul {
        font-size: 1.0em;
    }
    
    .aboutContainer {
        padding: 25px 5% 25px 5%;
    }
    
    footer {
        font-size: 0.8em;
    }
    
    .contactContainer-heading {
        font-size: 1.1em;
        padding-top: 15px;
    }

    .contactContainer-newsletter input[type="text"] {
        font-size: 0.9em;
    }

    .contactContainer-newsletter button[type="submit"] {
        font-size: 0.9em;
    }
    
    .contact-items input[type="submit"] {
        font-size: 1em;
        margin-bottom: 0px;
    }
    
    .contact-items input[type="text"]{
        font-size: 1em;
    }

    .contact-items textarea {
        font-size: 1em;
    }
    
    .baner-about {
        padding: 1.4% 5% 0 5%;
    }
    
    .contact-items h2 {
        font-size: 1.1em;
    }

}
    
@media all and (max-width: 740px) {
    
    .container .text-content {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 230px;
        flex: 0 1 230px;
    }
    
    .container-row {
        margin: 1% 2% 1.3% 2%;
    }
    

}

@media all and (max-width: 550px) {
    
    
    .inner h1 {
        font-size: 1.5em;
    }
    
    .baner-inner-text {
        font-size: 0.8em;
    }
    
    nav .logo {
        font-size: 1.5em;
    }

}










